@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  background: linear-gradient(191.58deg, #101A24 0.7%, #101A23 100%);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 40px;
  z-index: 1;
}

#logo {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  top: 10px;
}

nav ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  top: 12px;
  right: 0;
  left: 0;
  display: none;
  background: linear-gradient(191.58deg, #101A24 0.7%, #101A23 100%);
}

nav ul li {
  position: relative;
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

nav ul li a:hover {
  color: #8E8E8C;
}

#menu {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  padding-left: 1120px;
}

nav ul.active {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  top: 12px;
  right: 0;
  left: 0;
  background: linear-gradient(191.58deg, #101A24 0.7%, #101A23 100%);
}

.home {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/bg.jpg");
  height: 100vh;
  width: 100vw;
}

aside {
  position: relative;
  z-index: 11111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 50%;
}

.img {
  position: absolute;
  background-image: url("/img/img1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  width: 100vw;
  margin-top: 150px;
}

.home-logo {
  position: absolute;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  top: 27%;
  left: 34%;
}

.home-tagline {
  position: relative;
  text-transform: uppercase;
  font-size: 27px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-left: 350px;
  padding-top: 300px;
}

.line {
  position: absolute;
  border: 2px solid #FFFFFF;
  width: 50%;
  margin-top: 10%;
  margin-left: 13%;
}

.iconify {
  position: absolute;
  left: 10%;
  width: 40px;
  height: 40px;
}

#youtube-logo {
  left: 64%;
  bottom: 8%;
}

#gmail {
  left: 68%;
  bottom: 8%;
  color: #ffffff;
}

#instagram {
  left: 72%;
  bottom: 8%;
}

#spotify-outline {
  left: 76%;
  bottom: 8%;
}

.about {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.img2 {
  position: absolute;
  background-image: url("/img/img2.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
  margin-left: 10%;
  margin-top: 8%;
}

p {
  position: absolute;
  font-size: 40px;
  padding: 0 4% 0 28%;
  margin-top: 8%;
  text-align: justify;
}

.songs {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.img3 {
  position: absolute;
  background-image: url("/img/img3.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 30%;
  width: 100%;
  margin-top: 110px;
  margin-left: 10%;
}

.playtext {
  position: absolute;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 21%;
  padding: 0;
}

.playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 23%;
}

#spotify-outline2 {
  margin-left: 46%;
}

.playlist2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 6%;
}

#spotify-outline3 {
  margin-left: 46%;
}

.playlist3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 6%;
}

a {
  text-decoration: none;
}

.line1 {
  position: absolute;
  border: 2px #fff solid;
  width: 800px;
  margin-top: 8%;
}

.contact {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.collab {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 0;
  margin-left: 10%;
  margin-top: 10%;
}

#gmail-collab {
  margin-left: 5%;
  margin-top: 20%;
}

#instagram-collab {
  margin-left: 5%;
  margin-top: 25%;
}

.link1 {
  position: absolute;
  font-size: 30px;
  margin-top: 20%;
  margin-left: 20%;
  color: #ffffff;
}

.links2 {
  position: absolute;
  font-size: 30px;
  margin-top: 25%;
  margin-left: 20%;
}
/*# sourceMappingURL=style.css.map */